<div class="animated fadeIn faster" style="margin-top: 60px;">    
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-dark" routerLink="/home/admin">
                <i class="fa fa-arrow-left"></i>
                Return
            </button>
        </div>
    </div>
    <hr>
    <h1>Drinks's List</h1>
    <hr>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" routerLink="drink/new">
                <i class="fa fa-plus"></i>
            </button>            
        </div>
    </div>



    <table class="table table-sm table-striped table-dark mt-3">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr  class="table-active">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>        
        </tbody>
      </table>

      <div class="aler alert-warning text-center mt-3">
        <h4 class="alert-heading">Whitout Registers</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>        
    </div>

      <div class="aler alert-primary text-center mt-3">
          <h4 class="alert-heading">Loading</h4>
          <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">White please</p>
      </div>
    
</div>
