<!-- 
<nav class="container navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
 -->

<nav >
  <div class="hamburger" (click)="changeHamburger()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="miNav">
    <a routerLink='/home'>
      <img src="assets/images/home.svg" width="40" height="40" alt="">
    </a>
    <ul class="nav-links" [ngClass]="{'open': navLinks}">
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="admin" (click)="changeHamburger()">Admin</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="menu" (click)="changeHamburger()">Menu</a>
      </li>     
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="rockola" (click)="changeHamburger()">Rockola</a>
      </li>

    </ul>
  </div>
</nav>
